<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->

    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles.css" />
    <title>Vlink Transport</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Vlink Transport</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/logout">Log-Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />

    <div class="container">
      <h2>Welcome Driver, <%= currentUser.username %></h2>

      <hr />

      <p>
        Current Work Status : <% if (currentUser.status) { %> Available <% } else { %> Working <% }
        %>
      </p>
      <div>
        Set Status :
        <a href="/updatestatus/available" class="btn btn-success">Available</a> |
        <a href="/updatestatus/working" class="btn btn-danger">Working</a>
      </div>

      <hr />

      <p>Name : <%= currentUser.name %></p>
      <p>Phone Number : <%= currentUser.name %></p>
      <p>Address : <%= currentUser.name %></p>
      <p>Preffered Cities : <%= currentUser.preferredCities %></p>
      <p>Fixed Route : <%= currentUser.fixedRoute %></p>
      <p>Vehicle Type : <%= currentUser.vehicleType %></p>
      <p>Vehicle Capacity : <%= currentUser.vehicleCapacity %></p>

      <hr />

      <div>
        <button
          type="button"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Edit Profile Data
        </button>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Profile Data</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form action="/drivereditprofile" method="POST">
              <div class="modal-body">
                <div class="mb-3">
                  <!-- ? ================= 1st Input Box using Bootstrap  =========================-->

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        Preferred Cities
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="preferredCities"
                      placeholder="Input preferred cities."
                    />
                  </div>

                  <!-- ========================== -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        Fixed Route
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="fixedRoute"
                      placeholder="Your Fixed Route"
                    />
                  </div>
                  <!-- ============================= -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        Vehicle Type
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="vehicleType"
                      placeholder="Your Vehicle Type"
                    />
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text">Vehicle Capacity</span>
                    <input
                      type="text"
                      class="form-control"
                      name="vehicleCapacity"
                      placeholder="Your Vehicle Capacity"
                    />
                  </div>

                  <!-- ? ================= Button using Bootstrap  =========================-->
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-dark">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <hr />

      <a href="/driververify" class="btn btn-dark">Apply for Verification</a>
    </div>

    <!-- JavaScript Bundle with Popper -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <script src="/index.js"></script>
  </body>
</html>
