<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->

    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <script src="https://js.stripe.com/v3/"></script>

    <link rel="stylesheet" href="/styles.css" />
    <title>Vlink Transport</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Vlink Transport</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/profiledashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/industryprofile">Your Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/pastbookings">Past Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/driverlogin">Login as Driver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/logout">Log-Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="container px-4">
      <h3>Your Dashboard</h3>
    </div>
    <div class="container my-3 px-4">
      <!-- <h2>Username : <%= currentUser.username %> <% if (currentUser.verified) { %> ✔️ <% } %></h2>

      <hr />

      <p>Company Name : <%= currentUser.companyName %></p>
      <p>Phone No. : <%= currentUser.phoneNo %></p>
      <p>E-mail : <%= currentUser.email %></p>
      <p>Address : <%= currentUser.address %></p>
      <hr /> -->

      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title mb-3">
            Username : <%= currentUser.username %> <% if (currentUser.verified) { %> ✔️ <% } %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Company Name : <%= currentUser.companyName %>
          </h6>

          <!-- <hr />
          <p class="card-text">Phone No. : <%= currentUser.phoneNo %></p>
          <p class="card-text">E-mail : <%= currentUser.email %></p>
          <p class="card-text">Address : <%= currentUser.address %></p> -->

          <hr />
          <div class="mx-auto" style="width: 143px">
            <a href="/industrydashboard" class="btn btn-dark">Search for Trucks</a>
          </div>
        </div>
      </div>
      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title mb-3">Safety First</h5>
          <h6 class="card-subtitle mb-2 text-muted">Your safety is our utmost priority.</h6>
          <p class="card-text">
            We are taking strict measures to ensure safety of everyone around us.
          </p>
        </div>
      </div>
      <p class="mid-titles my-3">WHY CHOOSE VLINK TRANSPORT</p>
      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title mb-3">Maximum Choice</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            We give you the widest number of transport options across thousands of routes.
          </h6>
        </div>
      </div>
      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title mb-3">Superior Customer Service</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            We put our experience and relationships to good use & solve your transport issues.
          </h6>
        </div>
      </div>
      <p class="mid-titles my-3">BOOK A TRUCK ONLINE</p>
      <p class="dash-about">
        VLink Transport is one of the leading players in the transportation industry that connects
        transporters, truck-drivers, customers and other related entities across India with the
        objective of making the material transportation simpler, quicker and efficient by providing
        better vehicle at affordable rates. We help all people associated with the community achieve
        better profitability in their own business. We follow best practices and business ethics for
        the benefit of transporter and customer community.
      </p>
      <p class="dash-about">
        We, first, request the first-time users to register in our portal, and then provide
        transport related information to the registered users about the availability of the load and
        the vehicles in the city. Once the registrations are complete, we verify them for accuracy,
        list them in our portal, and then route the requirements to the appropriate registered
        parties through our fully operational call center. During this process, we provide
        end-to-end support to the users. This effort ensures better utilization of the vehicle
        capacity and its effectiveness
      </p>
      <p class="dash-about">
        We at VLink Transport are committed to our self, Customers, Employees and Partners to
        provide best in class transportation solutions. Vlink Transport enables transporters and
        customers to meet their business objectives effectively. We aim at achieving highest
        standards of work for our customers. Our commitment to excellence will help the
        transportation industries and customers achieve financial growth and prosperity. To know
        more about us, please contact us and our representative will assist you shortly.
      </p>

      <p class="mid-titles my-3">FAQ</p>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              How can I book trucks on Vlink
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>The process is very easy.</strong> Log-in to your account / or create if you
              don't have one. Search for Trucks from your profile page. You can fill all the details
              about your transport. Find a suitable driver and pay the advance amount to complete
              the booking process.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header text-left" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Is it safe to use my credit card?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong> Of course! </strong>Vlink has invested a lot to ensure that their customers
              are protected. Vlink is a platform where transactions can be made safely. We can say
              that it is very safe to make a payment through the website.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Do I need to create an account?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Yes, you need to create an account, to ensure we can give you the best services and
              support possible as well as secure transactions.
            </div>
          </div>
        </div>
      </div>

      <br />
    </div>

    <!-- JavaScript Bundle with Popper -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="index.js"></script> -->
  </body>
</html>
